<!DOCTYPE html>
<html lang="en">

<%- include ('./partials/head') %>

    <body>
        <script src="/scripts/updateCart.js"></script>
        <script src="/scripts/addCart.js"></script>
        <script src="/scripts/removeCart.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                const products = JSON.parse(localStorage.getItem("myCart"));
                let subtotalDue = 0;
                let discount = 250;
                let totalDue = 0;

                if (products.length == 0) {
                    const cart = document.getElementById("listado");
                    cart.style.paddingLeft = '35%';
                    cart.textContent = "Carrito Vacio! Vaya a productos para empezar a comprar!";
                    return;
                }




                if (products.length > 0) {
                    const DOMcarrito = document.getElementById("listado");
                    DOMcarrito.textContent = "";
                    productos.forEach((element) => {
                        totalPrice += +element.total;
                        const miNodoPrincipal = document.createElement("div");
                        miNodoPrincipal.classList.add("products-checkout-list");
                        miNodoPrincipal.setAttribute("price", element.price);
                        miNodoPrincipal.setAttribute("image", element.image);
                        miNodoPrincipal.setAttribute("id", element.name);
                        // Imagen
                        const miNodoImagenDiv = document.createElement("div");
                        miNodoImagenDiv.classList.add("products-checkout-list");
                        const miNodoImagen = document.createElement("img");
                        miNodoImagen.setAttribute("src", element.image);
                        miNodoImagenDiv.appendChild(miNodoImagen);
                        // Item
                        const miNodoItemDiv = document.createElement("div");
                        miNodoItemDiv.classList.add("product-qty");
                        const miNodoNameDiv = document.createElement("div");
                        const miNodoName = document.createElement("p");
                        miNodoName.textContent = element.name;
                        miNodoNameDiv.appendChild(miNodoName);
                        // Botones
                        const miNodoBotonesDiv = document.createElement("div");
                        miNodoBotonesDiv.classList.add("product-qty-buttons");
                        const miNodoBotonRemove = document.createElement("button");
                        miNodoBotonRemove.classList.add("qty-buttons");
                        miNodoBotonRemove.onclick = function() {
                            reduceItemFromCart(element.name);
                            window.document.dispatchEvent(
                                new Event("DOMContentLoaded", {
                                    bubbles: true,
                                    cancelable: true,
                                })
                            );
                        };
                        const miNodoIconoRemove = document.createElement("i");
                        miNodoIconoRemove.classList.add("material-icons");
                        miNodoIconoRemove.textContent = "remove";

                        miNodoBotonRemove.appendChild(miNodoIconoRemove);
                        const miNodoQty = document.createElement("p");
                        miNodoQty.style.width = "10%";
                        miNodoQty.style.paddingLeft = "5%";
                        const miNodoBotonAdd = document.createElement("button");
                        miNodoBotonAdd.classList.add("qty-buttons");
                        miNodoBotonAdd.onclick = function() {
                            addToCart(element.name);
                            window.document.dispatchEvent(
                                new Event("DOMContentLoaded", {
                                    bubbles: true,
                                    cancelable: true,
                                })
                            );
                        };
                        const miNodoIconoAdd = document.createElement("i");
                        miNodoIconoAdd.classList.add("material-icons");
                        miNodoIconoAdd.textContent = "add";
                        miNodoBotonAdd.appendChild(miNodoIconoAdd);
                        miNodoBotonesDiv.appendChild(miNodoBotonRemove);
                        miNodoBotonesDiv.appendChild(miNodoQty);
                        miNodoBotonesDiv.appendChild(miNodoBotonAdd);

                        // Precio
                        const miNodoPrecioDiv = document.createElement("div");
                        miNodoPrecioDiv.classList.add("product-price");
                        const miNodoBotonDelete = document.createElement("button");
                        miNodoBotonDelete.classList.add("checkout-buttons");
                        miNodoBotonDelete.onclick = function() {
                            removeItemFromCart(element.name);
                            window.document.dispatchEvent(
                                new Event("DOMContentLoaded", {
                                    bubbles: true,
                                    cancelable: true,
                                })
                            );
                        };
                        const miNodoIconoDelete = document.createElement("i");
                        miNodoIconoDelete.classList.add("material-icons");
                        miNodoIconoDelete.textContent = "delete";
                        const miNodoPrecio = document.createElement("div");
                        miNodoPrecio.textContent = `$${element.total}`;
                        miNodoBotonDelete.appendChild(miNodoIconoDelete);
                        miNodoPrecioDiv.appendChild(miNodoBotonDelete);
                        miNodoPrecioDiv.appendChild(miNodoPrecio);

                        // Insertamos

                        miNodoPrincipal.appendChild(miNodoImagenDiv);
                        miNodoItemDiv.appendChild(miNodoNameDiv);
                        miNodoItemDiv.appendChild(miNodoBotonesDiv);
                        miNodoPrincipal.appendChild(miNodoItemDiv);
                        miNodoPrincipal.appendChild(miNodoPrecioDiv);
                        DOMcarrito.appendChild(miNodoPrincipal);
                    });

                    //Total
                    const miNodoCheckoutTotal = document.createElement("div");
                    miNodoCheckoutTotal.classList.add("products-total");
                    const miNodoTotalText = document.createElement("p");
                    miNodoTotalText.textContent = "Total: ";
                    const miNodoTotalPrice = document.createElement("p");
                    miNodoTotalPrice.textContent = `$${totalPrice}`;
                    const miNodoBotonPay = document.createElement("button");
                    miNodoBotonPay.classList.add("pay-button");
                    miNodoBotonPay.textContent = "PAGAR";
                    miNodoCheckoutTotal.appendChild(miNodoTotalText);
                    miNodoCheckoutTotal.appendChild(miNodoTotalPrice);
                    miNodoCheckoutTotal.appendChild(miNodoBotonPay);
                    DOMcarrito.appendChild(miNodoCheckoutTotal);
                } else {
                    const DOMcarrito = document.getElementById("listado");
                    DOMcarrito.style.paddingLeft = '35%';
                    DOMcarrito.textContent = "Carrito Vacio! Vaya a productos para empezar a comprar!";
                }
            });
        </script>

        <% if(username != ""){ %>
            <%- include ('./partials/headerLoggedIn') %>
                <% } else{ %>
                    <%- include ('./partials/header') %>
                        <% } %>


                            <div class="breadcrumb-section">
                                <div class="container">
                                    <div class="row">
                                        <div class="width-100">
                                            <nav aria-label="breadcrumb">
                                                <ol class="breadcrumb">
                                                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
                                                    <li class="breadcrumb-item active" aria-current="page">Carrito</li>
                                                </ol>
                                            </nav>
                                        </div>


                                    </div>
                                </div>
                            </div>


                            <section id="cart" class="bg-white section-padding-50 ">
                                <div class="container">

                                    <div class="row justify-content-between">
                                        <div class="width-100">
                                            <table class="cart-table">
                                                <thead>
                                                    <tr>
                                                        <th>Producto</th>
                                                        <th>Cantidad</th>
                                                        <th>Precio</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="cart_product_img">
                                                            <a href="#"><img src="images/product_mini_1.png" alt="product_1"></a>
                                                            <h5>Termo</h5>
                                                        </td>
                                                        <td>
                                                            <div class="quantity">
                                                                <span class="qty-minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                                                <input type="text" class="qty-text" value="1">
                                                                <span class="qty-plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                                            </div>
                                                        </td>
                                                        <td>$99.99</td>
                                                        <td>$99.99</td>
                                                        <td><i class="fa-solid fa-x icon_close"></i></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="cart_product_img">
                                                            <a href="#"><img src="images/product_mini_3.png" alt="product_3"></a>
                                                            <h5>Mate Camionero</h5>
                                                        </td>
                                                        <td>
                                                            <div class="quantity">
                                                                <span class="qty-minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                                                <input type="text" class="qty-text" value="1">
                                                                <span class="qty-plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                                            </div>
                                                        </td>
                                                        <td>$99.99</td>
                                                        <td>$99.99</td>
                                                        <td><i class="fa-solid fa-x icon_close"></i></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section id="section-cart-total" class="bg-white section-padding-0-50">
                                <div class="container">

                                    <div class="row justify-content-between">
                                        <div class="coupon-discount">
                                            <h5>CUPÓN DE DESCUENTO</h5>
                                            <form>
                                                <input type="text" name="coupon-code" placeholder="Ingresar código de cupón">
                                                <button type="submit">APLICAR</button>
                                            </form>
                                        </div>

                                        <div class="cart-total">
                                            <h5>Total Carrito</h5>
                                            <div class="subtotal justify-content-between">
                                                <h5>Subtotal</h5>
                                                <h5>$99.99</h5>
                                            </div>
                                            <div class="total justify-content-between">
                                                <h5>Total</h5>
                                                <h5>$99.99</h5>
                                            </div>
                                            <div class="product-options mt-15">
                                                <a href="#" class="btn w-100 mr-30">FINALIZAR COMPRA</a>
                                                <a href="#" class="btn w-100">LIMPIAR CARRITO</a>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </section>


                            <%- include ('./partials/footer') %>


                                <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    </body>

</html>