<!DOCTYPE html>
<html lang="en">

<%- include ('./partials/head') %>

    <body>
        <div style="text-align: center; margin-top: 50px;">
            <img src="/images/notFound.png" alt="imageNotFound" width="500">
        </div>
        <div style="text-align: center;">
            <a href="/home" class="btn">Volver a Inicio</a>
        </div>

    </body>

</html>