<div style="text-align: center; margin-top: 50px;">
    <img src="../images/productNotFound.png" alt="imageNotFound" width="500">
</div>
<div style="text-align: center;">
    <a href="javascript:history.back()" class="btn">Volver Atrás</a>
</div>