/* Background colors*/

.bg-gray {
    background-color: #f2f4f5;
}

.bg-white {
    background-color: #fff;
}


/* Text align*/

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}


/* Paddings */

.pr-5 {
    padding-right: 5px;
}


/* Margins */

.mt-15 {
    margin-top: 15px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-25 {
    margin-bottom: 25px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.ml-50 {
    margin-left: 50px !important;
}

.mr-5 {
    margin-right: 5px !important;
}

.mr-15 {
    margin-right: 15px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mr-50 {
    margin-right: 50px !important;
}


/* Width */

.width-40 {
    flex: 0 0 40%;
    max-width: 40%;
}

.width-50 {
    flex: 0 0 50%;
    max-width: 50%;
}

.width-100 {
    flex: 0 0 100%;
    max-width: 100%;
}


/* Heights */

.height-400 {
    height: 400px;
}

.height-500 {
    height: 500px;
}

.height-600 {
    height: 600px;
}

.height-700 {
    height: 700px;
}

.height-800 {
    height: 800px;
}


/* Padding */

@media (min-width: 768px) {
    .section-padding-1 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.section-padding-1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.section-padding-50-0 {
    padding-top: 50px;
    padding-bottom: 0;
}

.section-padding-0-50 {
    padding-top: 0;
    padding-bottom: 50px;
}

.section-padding-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-padding-100-0 {
    padding-top: 100px;
    padding-bottom: 0;
}

.section-padding-0-100 {
    padding-top: 0;
    padding-bottom: 100px;
}

.section-padding-100-70 {
    padding-top: 100px;
    padding-bottom: 70px;
}


/* Align Items*/

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}

.justify-content-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


/* Display */

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
    flex-direction: column;
}

@media (min-width: 768px) {
    .d-flex {
        display: -ms-flexbox!important;
        display: flex!important;
        flex-direction: row;
    }
}


/* Flex */

.flex-wrap {
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
}


/* row */

.row {
    display: -ms-flexbox;
    display: block;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 768px) {
    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
}