<footer class="footer-section bg-img">
    <div class="main-footer-area">
        <div class="container">
            <div class="row">
                <div class="width-100 d-flex">
                    <div class="footer-info">
                        <a href="#"><img src="../images/logo_menu.png" alt="logo" width="200"></a>
                        <p>Lorem ipsum dolor sit samet, consectetur adipiscing elit. India situs atione mantor</p>
                        <div class="social-media">
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></i></a>
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></i></a>
                        </div>
                    </div>

                    <div class="footer-info">
                        <div>
                            <h5 class="title">Accesos Rápidos</h5>
                        </div>
                        <nav class="quick-access-nav">
                            <ul>
                                <li><a href="#">Inicio</a></li>
                                <li><a href="#">Nosotros</a></li>
                                <li><a href="#">Tienda</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contacto</a></li>
                                <li><a href="#">Iniciar Sesión</a></li>
                            </ul>
                        </nav>
                    </div>

                    <div class="footer-info">
                        <div class="mb-25">
                            <h5 class="title">Novedades</h5>
                        </div>

                        <div class="news d-flex">
                            <div class="new-product-img">
                                <a href="#"><img src="../images/product_mini_1.png" alt="" width="70"></a>
                            </div>
                            <div class="new-product-info">
                                <a href="#">Termo Stanley</a>
                                <p>$99.99</p>
                            </div>
                        </div>

                        <div class="news d-flex">
                            <div class="new-product-img">
                                <a href="#"><img src="../images/product_mini_3.png" alt="" width="70"></a>
                            </div>
                            <div class="new-product-info">
                                <a href="#">Mate Camionero</a>
                                <p>$99.99</p>
                            </div>
                        </div>
                    </div>

                    <div class="footer-info">
                        <div class="mb-25">
                            <h5 class="title">Contacto</h5>
                        </div>

                        <div class="contact-information">
                            <p><span>Tel:</span> 351 123 4567</p>
                            <p><span>Email:</span> elbuenmate@gmail.com</p>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row">
                <div class="border-line"></div>
                <div class="footer-copyright">
                    <p>Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script> ElBuenMate</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>