<header id="menu" class="header">
    <div class="container">

        <a href="home" class="logo"><img src="../images/logo_menu.png" alt=""></a>

        <!-- Hamburger icon -->
        <input class="side-menu" type="checkbox" id="side-menu" />
        <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>

        <nav class="nav">
            <ul class="menu">
                <li><a href="/home"><i class="fa fa-home pr-5"></i>Inicio</a></li>
                <li><a href="/shop"><i class="fa fa-shop pr-5"></i>Tienda</a></li>
                <li><a href="/cart"><i class="fa fa-shopping-cart pr-5"> </i>Mi Carrito</a></li>
                <li><a href="/login"><i class="fa-solid fa-user pr-5"></i> Login</a></li>
            </ul>
        </nav>



    </div>
</header>